<div class = 'container col-md-4'>

	<h3> WeightLoss Guide </h3>
	<ul>
		<li><%= link_to 'Welcome! Start Here', pages_index_path %></li>
		<li><%= link_to 'Overview', pages_overview_path %></li>
		<li><%= link_to 'Plateau Breakers', pages_plateau_breakers_path %></li>
		<li><%= link_to 'Phase I', pages_phase1_path %></li>
		<li><%= link_to 'Phase II', pages_phase2_path %></li>
		<li><%= link_to 'Phase III', pages_phase3_path %></li>
		<li><%= link_to 'Menu Suggestions / WLC Approved Foods', pages_approvedfoods_path %></li>
		<li><%= link_to 'Conclusion', pages_conclusion_path %></li>
		<br>
	</ul>

</div>